.main{
    width: 100%;
    max-width: 380px;
}


/* Restaurant Header */
.restaurantHeader{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.restaurantLogoContainer{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    background-color: yellow;
    text-align: center;
}

.restaurantLogo{
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.restaurantHeaderCategoriesContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height:60px;
    background-color: blue;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.restaurantHeaderCategory{
    display: inline-block;
    margin: 10px;
}

.anchorLink{
    color: black;
}


.restaurantHeaderSubcategoryContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height:40px;
    background-color: orange;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.restaurantHeaderSubcategory{
    display: inline-block;
    margin: 10px;
}

/* Restaurant Menu */
.restaurantMenuContainer{
    height: 420px;
    overflow-y: auto;
    padding: 12px;
}

/* Restaurant Category */
.restaurantCategoryContainer{
   display: block;
}
.catName{
    margin: 0px;
}

/*Item container*/
.itemContainer{
    display: flex;
    width: 100%;
    height: 150px;
}

.itemDescriptionContainer{
    width: 70%;
}

.itemImageContainer{
    width: 30%;
}

.itemImage{
    width: 100%;
}


/* Responsive */

@media only screen and (max-width: 600px) {
   
  }